---
apiVersion: v1
kind: Namespace
metadata:
  name: database
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: database
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:17.7-alpine
        resources:
          requests:
            memory: "256Mi"  # Reserviere 256MB RAM
            cpu: "250m"      # Reserviere 0.25 CPU Kerne
          limits:
            memory: "512Mi"  # Er darf maximal 512MB nutzen
            cpu: "500m"      # Er darf maximal 0.5 CPU Kerne nutzen
        
        env:
        - name: POSTGRES_PASSWORD
          valueFrom:      
            secretKeyRef:
              name: db-credentials
              key: password
        - name: POSTGRES_DB
          value: "flight_data"
        ports:
        - containerPort: 5432
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-storage
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: database
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432