apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kafka
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: kafka
    # Sehr aktuelles Chart für KRaft Support
    targetRevision: 31.0.0
    helm:
      values: |
        # Modern: KRaft Modus an (Kein Zookeeper nötig)
        kraft:
          enabled: true
        zookeeper:
          enabled: false
        
        image:
          # Auch hier: "latest" verhindert ErrImagePull bei alten Tags
          tag: "latest"

        controller:
          replicaCount: 1
          resources:
             limits:
               memory: "768Mi"
        broker:
          replicaCount: 1
          resources:
             limits:
               memory: "1024Mi"
        
        listeners:
          client:
            protocol: PLAINTEXT
          controller:
            protocol: PLAINTEXT
          interbroker:
            protocol: PLAINTEXT
          external:
            protocol: PLAINTEXT
  destination:
    server: https://kubernetes.default.svc
    namespace: kafka
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true