apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kafka
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: kafka
    targetRevision: 32.4.3
    helm:
      values: |
        # KRaft Modus (Ohne Zookeeper)
        kraft:
          enabled: true
        zookeeper:
          enabled: false
        
        # Spar-Modus
        controller:
          replicaCount: 1
        broker:
          replicaCount: 1
        
        # Protokolle (Wichtig!)
        listeners:
          client:
            protocol: PLAINTEXT
          controller:
            protocol: PLAINTEXT
          interbroker:
            protocol: PLAINTEXT
          external:
            protocol: PLAINTEXT
            
        # HIER WURDE DER IMAGE-BLOCK ENTFERNT!
        # Das Chart nimmt jetzt automatisch den passenden Standard.

  destination:
    server: https://kubernetes.default.svc
    namespace: kafka
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true