apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kafka-cluster
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/DEIN_GITHUB_USER/Data-Engineer-End-to-End-Project.git # ⚠️ DEIN REPO URL!
    targetRevision: main
    path: infrastructure/k8s/kafka-crd # Wir legen das YAML gleich hier ab
  destination:
    server: https://kubernetes.default.svc
    namespace: kafka
  syncPolicy:
    automated:
      prune: true
      selfHeal: true