apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kafka
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: kafka
    targetRevision: 32.4.3
    helm:
      values: |
        # WICHTIG: Da Bitnami versionierte Tags für Free-User gelöscht hat,
        # müssen wir "latest" nutzen.
        image:
          registry: docker.io
          repository: bitnami/kafka
          tag: "latest"
          pullPolicy: IfNotPresent
        
        # KRaft Modus (Ohne Zookeeper)
        kraft:
          enabled: true
        zookeeper:
          enabled: false
        
        # Single-Node Optimierung
        controller:
          replicaCount: 1
          resources:
             limits:
               memory: "768Mi"
          podAntiAffinityPreset: ""
          affinity: {}
        
        broker:
          replicaCount: 0
          podAntiAffinityPreset: ""
          affinity: {}
        
        listeners:
          client:
            protocol: PLAINTEXT
          controller:
            protocol: PLAINTEXT
          interbroker:
            protocol: PLAINTEXT
          external:
            protocol: PLAINTEXT

  destination:
    server: https://kubernetes.default.svc
    namespace: kafka
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true