apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: database
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: postgresql
    targetRevision: 16.2.5
    helm:
      values: |
        global:
          storageClass: "local-path"
          postgresql:
            auth:
              postgresPassword: "admin"
              database: "flight_data"
        
        # FIX: Nur "latest" ist für Free-User garantiert verfügbar
        image:
          registry: docker.io
          repository: bitnami/postgresql
          tag: "latest"
          pullPolicy: IfNotPresent

        architecture: standalone
        primary:
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 512Mi
          persistence:
            enabled: true
            size: 1Gi
  destination:
    server: https://kubernetes.default.svc
    namespace: database
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true