apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: opensky-processor
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/KademEray/Data-Engineer-End-to-End-Project.git
    targetRevision: main
    path: infrastructure/k8s/processor-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: processing
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true