apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-app
  namespace: argocd
spec:
  project: default
  source:
    # -----------------------------------------------------------------
    # WICHTIG: Ersetze die URL unten mit deinem echten GitHub-Repo Link!
    # Beispiel: https://github.com/eray5/Data-Engineer-Project.git
    # -----------------------------------------------------------------
    repoURL: https://github.com/KademEray/Data-Engineer-End-to-End-Project
    path: infrastructure/k8s/apps
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true