apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strimzi-operator
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://strimzi.io/charts/
    chart: strimzi-kafka-operator
    targetRevision: 0.40.0 # Sehr stabile Version
    helm:
      values: |
        # Wir sparen Ressourcen
        resources:
          limits:
            memory: 256Mi
          requests:
            memory: 256Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: kafka # Der Operator kommt in den Kafka Namespace
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true